@import "../../variables.scss";
.listFoodRefContainer {
    max-width: 800px;
    width: 95%;
    margin: auto;
}

.tableFood {
    color: lightgray;
    width:100%;
}

tr:hover{
    cursor: pointer;
}

tr:hover > td{
    background-color: $bgLighterColor !important;
}
.tableHead:hover {
    background-color: $bgDarkColor;
    cursor: default;
}

.tableHead{
    width: 100%;
}



.tableLeft {
    text-align: left;
    padding-left: 5px;
    background-color: $bgDarkLighterColor;

}

.tableRight {
    text-align: right;
    color: lightgrey !important;
    padding-right: 5px;
    background-color: $bgDarkLighterColor;
}

.tableMidle {
    color: lightgrey !important;
    text-align: center;
    background-color: $bgDarkLighterColor;
}

.tableCell {
    color: lightgrey !important;
    text-align: center;
    background-color: $bgDarkLighterColor;
}

table tbody.tbodyScrollModal {
    height:300px;
    overflow-y:scroll;
    display:block;
    border-top: solid 1px lightgray;}

table tbody.tbodyScrollFullSize {
    max-height: 500px;
    overflow-y:scroll;
    display:block;
    border-top: solid 1px lightgray;}



table thead.theadScroll {
    display:block;
    background-color: $bgDarkLighterColor !important;
    width:100%;
}

.foodNameCell {
    width: 50vh;
}

.qteRefCell{
    width: 15%;
}

.qteTypeCell{
    width:20%;
}

.calRefCell{
    width: 15px;
}

.editIcon{
    color: $bgDarkLighterColor;
}

tr:hover > .tableLeft.foodNameCell > .editIcon{
    color: lightgray;
}
