<div class="listFoodRefContainer">
    <form [formGroup]="searchFoodForm">
        <div class="form-group searchFoodRefEntry">
            <input type="text"
                   class="form-control searchFoodRefEntry"
                   placeholder="Tapez votre recherche"
                   formControlName="searchFoodInput"
            >
        </div>
    </form>
    <table striped="columns" class="tableFood tableScroll">
        <thead class="theadScroll">
        <tr class="tableHead">
            <th class="tableLeft foodNameCell">Aliment</th>
            <th class="tableMidle qteRefCell">Qté. Réf</th>
            <th class="tableMidle qteTypeCell">Qté. Type</th>
            <th class="tableRight calRefCell">Cals. Réf.</th>
        </tr>
        </thead>
        <tbody class="tbodyScroll">
        <tr *ngFor="let foodRef of foodRefList" (click)="onRowClick(foodRef)">
            <td class="tableLeft foodNameCell">{{ foodRef.name }}</td>
            <td class="tableCell qteRefCell"> {{ foodRef.original_quantity }}</td>
            <td class="tableCell qteTypeCell">{{ foodRef.quantity_type }}</td>
            <td class="tableRight calRefCell">{{ foodRef.original_calory }}</td>
        </tr>
        </tbody>
    </table>
</div>
