<div class="menuBar">
     <button class="homeButton calcButton btn-primary" (click)="goToAddFoodJournalEntry()">

            <fa-icon [icon]="faCirclePlus"></fa-icon>
        </button>

        <button class="homeButton listButton btn-primary" (click)="goToFoodRefList()">
            <fa-icon [icon]="faPen"></fa-icon>
        </button>

        <button class="homeButton journalLogButton btn-primary" (click)="goToFoodJournal()">
            <fa-icon [icon]="faBook"></fa-icon>
        </button>
        <button class="homeButton addJournalEntryButton btn-primary" (click)="goToHome()">
            <fa-icon [icon]="faHouseChimney"></fa-icon>
        </button>
</div>
