    <button class="foodRefModalBtn btn btn-primary" (click)="openFoodRefListModal()">
        Choisir un aliment (optionnel)
    </button>
    <app-food-ref-list-modal [show]="isFoodRefListModalOpen" (onHide)="closeFoodRefListModal()" (rowClicked)="handleFoodChoosenInModal($event)"></app-food-ref-list-modal>

<form [formGroup]="addFoodForm" (ngSubmit)="onSubmit()">
    <div *ngIf="errMessage.length > 0" class="alert alert-danger" role="alert">
        <h4 class="alert-heading leftAlignText">Error!</h4>
        <hr>
        <ul>
            <li class="mb-0 leftAlignText" *ngFor="let err of errMessage">
                {{ err }}
            </li>
        </ul>
    </div>
    <div class="entryColumns">
        <div class="entryColItem form-group">
            <label for="foodName">Nom de l'aliment</label>
            <input class="calcEntry form-control"
                   type="text"
                   placeholder="Nom de l'aliment"
                   id="foodName"
                   formControlName="foodName"
                   required
            >
        </div>
        <div class="dateTimeInputContainer">
            <div class="entryColItem formEntries form-group">
                <label for="dayDate">Jour</label>
                <input class="calcEntry form-control"
                       type="date"
                       id="dayDate"
                       formControlName="dayDate">
            </div>
            <div class="entryColItem formEntries form-group">
                <label for="time">Heure</label>
                <input class="calcEntry form-control"
                       type="time"
                       id="time"
                       formControlName="time">
            </div>
        </div>
        <button class="thoughtsModalBtn btn btn-primary">
            Ajouter/Editer vos pensées ou émotions
        </button>
        <app-calories-calculator [formData]="caloriesCalculatorForm"></app-calories-calculator>
    </div>
    <div class="saveBtnContainer">
        <button class="saveFoodBtn btn btn-primary">
            <span class="iconSpan"><fa-icon [icon]="farFloppyDisk"></fa-icon></span>
            Sauvegarder nouvel Aliment
        </button>
        <button class="saveFoodBtn btn btn-primary" type="submit">
            <span class="iconSpan"><fa-icon [icon]="faFloppyDisk"></fa-icon></span>
            Sauvegarder entrée journal
        </button>
    </div>
</form>






