@import "../../variables.scss";

.foodRefModalBtn {
    background-color: $roseQuartzDarker;
    border-color: $roseQuartzDarker;
    margin-bottom: 25px;
    font-size: 20px;
    width: 100%;
}

.foodRefModalBtn:hover, .foodRefModalBtn:hover {
    background-color: $flax;
    border-color: $flax;
    color: $bgLighterColor;
}

.foodRefModalBtn:not(:disabled):not(:disabled):active {
    background-color: $flax;
    border-color: $flax;
    color: $bgLighterColor;
}

.entryColumns {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.entryColItem {
    margin-bottom: 25px;
}

.textarea-label {
    display: block;
}

.textarea-label textArea {
    width: 100%;
    border-color: $bgLighterColor;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.dateTimeInputContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.formEntries {
    font-size: 15px;
    width: 50%;
}

.thoughtsModalBtn {
    background-color: $peach;
    border-color: $lightBlue;
    color: $bgDarkColor;
    font-size: 20px;
    border-top-color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.saveFoodBtn {
    background-color: $darkerBlue;
    border-color: $darkerBlue;
    width: 50%;
    font-size: 20px;
}

.saveBtnContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}


/*Phones*/
@media only screen and (max-width: 800px) {
    .calcForm {
        width: 90%;
        margin: auto;
    }

    .calcEntry {
        font-size: 20px;
    }

    .formEntries {
        font-size: 20px;
    }


}
