@import "../../variables.scss";

.searchFoodRefEntry{
    width: 100%;
    margin-bottom: 25px;
}

.modal{
    display: flex;
    padding-left:10px;
    padding-right:10px;
}

.foodRefDisplay{
    width: 80%;
    margin: auto;
}
.addFoodRefModalHeader{
    border: none;
    color: lightgrey;
    padding-left: 60px;
    padding-right: 60px;
}

.addFoodRefModalFooter{
    border: none;
}

.addFoodRefModal > .modal-dialog > .modal-content > .modal-header{
    justify-content: center;
}

.addFoodRefModal > .modal-dialog > .modal-content > .modal-footer{
    justify-content: center;
    gap: 25px;
}

.modal-header.addFoodRefModalHeader > button.close{
    display:none;
}

.addFoodRefModal > .modal-dialog > .modal-content{
    border-radius: 50px;
    border: none;
    background-color: $bgDarkColor;

}

.addFoodRefModalButtons{
    aspect-ratio: 1/1;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50px;
    width:90px;
}

.cancelFoodRefModal{
    color: $bgDarkColor;
    background-color: $rosee;
    border-color: $rosee;

}

.validateFoodRefModal{
    background-color: $lightBlue;
    border-color: $lightBlue;
    color: $bgDarkColor;
}

