@import "../../variables.scss";

.entryColItem {
    margin-bottom: 25px;
}

.calcEntryContainer {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.entryColumns {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.formEntries {
    font-size: 15px;
    width: 50%;
}
.dateTimeInputContainer {
    display: flex;
    justify-content: center;
    gap:10px;
}


.saveFoodBtn {
    background-color: $darkerBlue;
    border-color: $darkerBlue;
    width: 50%;
    font-size: 20px;
}

.iconSpan{
    padding-right: 20px;
}

.thoughtsModalBtn {
    background-color: $periwinkle;
    border-color: $periwinkle;
    color: $bgDarkColor;
    font-size: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.textarea-label {
    display: block;
}

.textarea-label textArea {
    width: 100%;
    border-color: $bgLighterColor;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}



@media only screen and (max-width: 800px) {

    .calcEntry {
        font-size: 20px;
    }

    .formEntries {
        font-size: 20px;
    }


}
