@import "../../variables.scss";

.journalLogContainer {
    max-width: 800px;
    width: 95%;
    margin: auto;
}

th.journalTableHeaderElem {
    color: white !important;
    background-color: $roseQuartzDarker;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.journalLogTable {
    color: lightgray;
    margin: auto;
    margin-bottom: 25px;
}

.journalTableElem {
    color: lightgray !important;
    font-weight: bold;
    background-color: $bgDarkColor;
}

//.journalTimeElem{
//    width:120px;
//}

.lunchTypeRow {
    background-color: $hookersGreen !important;
}


.caloriesStats {
    display: flex;
    justify-content: space-between;

}

.caloriesTotal {
    background-color: $rosee;
    margin: auto;
    font-size: 45px;
    font-weight: bold;
    color: $bgDarkColor;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.calorieStatsLabel {
    background-color: $celadon;
    margin: auto;
    font-weight: bold;
    color: $bgDarkColor;
    border-radius: 30px;
    margin-bottom: 5px;
    min-width: 100px;

}

tr.entryRow:hover > .journalTableElem{
    cursor: pointer;
    background-color: $bgDarkLighterColor !important;
}

.dateLogNavigating {
    margin-bottom: 25px;
    font-size: 30px;
    color: $rosee;
}

.dateLog {
    padding-left: 10px;
    padding-right: 10px;
}

.dayBeforeIcon, .dayAfterIcon {
    background-color: $bgDarkLightColor;
    border-radius: 25px;
}

.dayBeforeIcon:hover, .dayAfterIcon:hover {
    background-color: $bgLighterColor;
    cursor: pointer;
}

.timeJournal{
    margin-left: 10px;
}

.eyeIcon{
    color: $bgDarkColor;
}

tr.entryRow:hover > .journalTableElem > .eyeIcon{
    color: lightgray;
}


/*Phones*/
@media only screen and (max-width: 800px) {
    .caloriesTotal {
        font-size: 30px;
    }
    .journalLogTable {
        max-width: 95%;
        margin: auto;
        font-size: 15px;
    }
    .eyeIcon{
        display: none;
    }
    .timeJournal{
        margin-left: 0px;
    }
    tr.entryRow:hover > .journalTableElem > .eyeIcon{
        display: contents;
    }
    tr.entryRow:hover > .journalTableElem > .timeJournal{
        display: none;
    }

}
