.tableCell {
    color: lightgrey !important;
    text-align: center;
}

table tbody.tbodyScroll { height:300px; overflow-y:scroll; display:block; }
table thead.theadScroll { display:block; }

.foodNameCell {
    width: 50%;
}

.qteRefCell{
    width: 15%;
}

.qteTypeCell{
    width:20%;
}

.calRefCell{
    width: 15px;
}