@import "../../variables";

.App {
    text-align: center;
    background-color: $bgDarkColor;

}


/* Need this one to be like the others App-Header but centered vertically*/
.App-header-home {
    margin: auto;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 90%;
    gap: 20px;
    max-width: 800px;
}


.App-link {
    color: #61dafb;
}

.backBanner {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    margin-bottom: 25px;
    background-color: $bgDarkerColor;
    text-align: left;
    width: 100%;
    border-radius: 0;
}

.iconBackBanner {
    font-size: 20px;
    padding-right: 5px;
}

/*My css*/
.homeButton {
    aspect-ratio: 1 / 1;
    width: 40%;
    font-size: 150px;
    border-radius: 25px;
    border: none;
}

.calcButton {
    color: $bgDarkColor;
    background-color: $lightBlue;
}

.calcButton:hover, .calcButton:active {
    background-color: $darkerBlue;
    color: $bgDarkColor;
}

.calcButton:not(:disabled):not(:disabled):active {
    background-color: $darkerBlue;
    color: $bgLighterColor;
}

.listButton {
    color: $bgDarkColor;
    background-color: $roseQuartz;
}

.listButton:hover, .listButton:active {
    background-color: $roseQuartzDarker;
    color: $bgDarkColor;
}

.listButton:not(:disabled):not(:disabled):active {
    background-color: $roseQuartzDarker;
    color: $bgLighterColor;
}

.journalLogButton {
    color: $bgDarkColor;
    background-color: $rosee;
}

.journalLogButton:hover, .journalLogButton:active {
    background-color: $roseeDarker;
    color: $bgDarkColor;
}

.journalLogButton:not(:disabled):not(:disabled):active {
    background-color: $roseeDarker;
    color: $bgLighterColor;
}

.addJournalEntryButton {
    color: $bgDarkColor;
    background-color: $flax;
}

.addJournalEntryButton:hover, .addJournalEntryButton:active {
    background-color: $darkerFlax;
    color: $bgDarkColor;
}

.addJournalEntryButton:not(:disabled):not(:disabled):active {
    background-color: $darkerFlax;
    color: $bgLighterColor;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*Phones*/
@media only screen and (max-width: 800px) {
    .homeButton{
        font-size: 9vh;
    }
}
