html{
    background-color: var(--bgDarkColor);
}
.calcPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.calculatorContainer{
    display: flex;
    flex-direction: column;
}

.calcForm{
    display: flex;
    flex-direction: column;
}

.entryColumns{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.calcEntryContainer{
    display: flex;
    justify-content: center;
    gap:10px;

}

.choiceContainer{
    display: flex;
    justify-content: center;
    gap:10px;
}

.calcEntry{
    font-size: 25px;

}

.foodRefSelect{
    margin-bottom: 25px;
    background-color: var(--ultraViolet);
    border-color: var(--ultraViolet);
    color: white;
}
.backBanner{
    padding-top: 15px ;
    padding-bottom: 15px;
    padding-left: 35px;
    margin-bottom: 25px;
    background-color: var(--bgDarkerColor);
    text-align: left;
    width: 100%;
    border-radius: 0;
}

.iconBackBanner{
    font-size: 20px;
    padding-right: 5px;
}

.toastSaveSuccess{
    background-color: var(--hookersGreen);
    border-radius: 20px;
}

.toastSaveSuccess .toast-header{
    background-color: var(--hookersGreen);
    border-radius: 20px;
    color: white;
    text-align: center;
}

.toastSaveSuccess .toast-body{
    background-color: var(--hookersGreen);
    border-radius: 20px;
}

.toastSaveFail{
    background-color: var(--redFail);
    border-radius: 20px;
}

.toastSaveFail .toast-header{
    background-color: var(--redFail);
    border-radius: 20px;
    color: white;
    text-align: center;
}

.toastSaveFail .toast-body{
    background-color: var(--redFail);
    border-radius: 20px;
}
.mb-3{
    font-size: 15px;
    width:50%;
}

.disabled{
    background-color: #adf7b6 !important;
}


.calcTypeChosenButton{
    font-size: 30px;
    background-color: var(--peach);
    border-color: var(--peach);
    color: var(--bgDarkColor);
    width: 50%;
    margin-bottom: 25px;
}

.calcTypeChosenButton:hover, .calcTypeChosenButton:hover{
    background-color: var(--darkerPeach);
    border-color: var(--darkerPeach);
    color: var(--bgDarkColor);
}

.calcTypeChosenButton:not(:disabled):not(:disabled):active{
    background-color: var(--darkerPeach);
    border-color: var(--darkerPeach);
    color: var(--bgLighterColor);
}

.notChosenButton{
    font-size: 30px;
    background-color: var(--flax);
    border-color: var(--flax);
    color: var(--bgDarkColor);
    width: 50%;
    margin-bottom: 25px;
}

.notChosenButton:hover, .notChosenButton:hover{
    background-color: var(--darkerFlax);
    border-color: var(--darkerFlax);
    color: var(--bgDarkColor);
}

.notChosenButton:not(:disabled):not(:disabled):active{
    background-color: var(--darkerFlax);
    border-color: var(--darkerFlax);
    color: var(--bgLighterColor);
}

.saveFood{
    background-color: var(--hookersGreen);
    border-color: var(--hookersGreen);
    width: 50%;
}

/*Phones*/
@media only screen and (max-width: 800px) {
    .calcForm{
        width: 90%;
        margin: auto;
    }

    .calcEntry{
        font-size: 25px;
    }

    .mb-3{
        font-size: 20px;
    }

    .calcTypeChosenButton{
        font-size: 20px;
    }

    .notChosenButton{
        font-size: 20px;
    }
}