th.journalTableHeaderElem{
    color: white !important;
    background-color: var(--roseQuartzDarker);
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}

.journalLogTable{
    color: lightgray;
    margin: auto;
    margin-bottom: 25px;
}

.journalTableElem{
    color: lightgray !important;
}
.caloriesTotal{
    background-color: var(--rosee);
    margin:auto;
    font-size: 45px;
    font-weight: bold;
    color: var(--bgDarkColor);
    border-radius: 30px;
    margin-bottom: 25px;
}

.addFoodEntryButton{
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    font-size: 60px;
    align-self: flex-end;
    margin-left: auto;
    color: var(--bgDarkColor);
    background-color: var(--pistachio);
    border-color: var(--pistachio);

}

.dateLogNavigating{
    margin-bottom: 25px;
    font-size: 30px;
    color: var(--rosee);
}

.dateLog{
    padding-left: 10px;
    padding-right: 10px;
}

.dayBeforeIcon, .dayAfterIcon{
    background-color: var(--bgDarkLightColor);
    border-radius: 25px;
}

.dayBeforeIcon:hover, .dayAfterIcon:hover{
    background-color: var(--bgLighterColor);
    cursor: pointer;
}