.listFoodRefContainer {
    max-width: 800px;
    width: 95%;
    margin: auto;
}

.tableFood {
    color: lightgray;
    margin: auto;
}

tr:hover {
    background-color: var(--bgLighterColor);
    cursor: pointer;
}

.tableHead:hover {
    background-color: var(--bgDarkColor);
    cursor: default;
}

.tableLeft {
    text-align: left;
}

.tableRight {
    text-align: right;
    color: lightgrey !important;
}

.tableMidle {
    color: lightgrey !important;
    text-align: center;
    background-color: var(--bgDarkColor);
}