@import "../../variables.scss";

.toast_container{
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toast{
    display: block
    //z-index: 9999;
    //position: absolute;
}

.toast_success{
    background-color: $pistachio;
}

.toast_fail{
    background-color: $redFail;
}
