<form [formGroup]="caloriesCalculatorForm">
    <div class="entryColItem form-group">
        <label for="quantityTypeEntry">Type Quantité</label>
        <input class="calcEntry form-control"
               type="text"
               placeholder="(grammes, ml, tasse ... )"
               id="quantityTypeEntry"
               formControlName="quantityTypeEntry"
        >
    </div>
    <div class="choiceContainer">
        <button class="calcTypeChosenButton choiceCalcButton btn btn-primary" (click)="enableCalculateCaloriesFromWantedQuantity()">
            Calculer
            Calories
        </button>
        <button class="notChosenButton choiceCalcButton btn btn-primary" (click)="enableCalculateQuantityFromWantedCalories()">Calculer
            Quantité
        </button>
    </div>
    <div class="calcEntryContainer">
        <div class="mb-3 formEntries form-group">
            <label for="originalQuantity">Qté. d'origine</label>
            <input class="calcEntry form-control"
                   type="text"
                   placeholder="Exemple : 234"
                   id="originalQuantity"
                   formControlName="originalQuantity"
            >
        </div>

        <div class="mb-3 formEntries form-group">
            <label for="originalCalories">Calories d'origine</label>
            <input class="calcEntry form-control"
                   type="text"
                   placeholder="Exemple : 234"
                   id="originalCalories"
                   formControlName="originalCalories"
            >
        </div>
    </div>
    <div class="calcEntryContainer">
        <div class="mb-3 formEntries form-group">
            <label for="wantedQuantity">Qté. voulue</label>
            <input class="calcEntry  form-control"
                   [class.disabled]="!calculateCaloriesFromWantedQuantity"
                   type="text"
                   [placeholder]="placeholderWantedQuantity"
                   id="wantedQuantity"
                   formControlName="wantedQuantity"
            >
        </div>
        <div class="mb-3 formEntries form-group">
            <label for="wantedCalories">Cal. obtenues<span class="asteriskRequired">*</span></label>
            <input class="calcEntry form-control"
                   [class.disabled]="calculateCaloriesFromWantedQuantity"
                   type="text"
                   id="wantedCalories"
                   [placeholder]="placeholderWantedCalories"
                   formControlName="wantedCalories"
            >
        </div>
    </div>

</form>
