@import "../../variables.scss";
.choiceContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.calcTypeChosenButton {
    background-color: $rosee;
    border-color: $rosee;
    color: $bgDarkColor;
    font-weight: 500;

}

.calcTypeChosenButton:hover, .calcTypeChosenButton:hover {
    background-color: $roseeDarker;
    border-color: $roseeDarker;
    color: $bgDarkColor;
}

.calcTypeChosenButton:not(:disabled):not(:disabled):active {
    background-color: $roseeDarker;
    border-color: $roseeDarker;
    color: $bgLighterColor;
}


.notChosenButton {
    background-color: $verdigris;
    border-color: $verdigris;
    color: $bgDarkColor;
}

.notChosenButton:hover, .notChosenButton:hover {
    background-color: $hookersGreen;
    border-color: $hookersGreen;
    color: $bgDarkColor;
}

.notChosenButton:not(:disabled):not(:disabled):active {
    background-color: $hookersGreen;
    border-color: $hookersGreen;
    color: $bgLighterColor;
}

.choiceCalcButton {
    font-size: 30px;
    width: 50%;
    margin-bottom: 25px;

}

.calcEntryContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

//.calcEntry {
//    font-size: 25px;
//}

.formEntries {
    font-size: 15px;
    width: 50%;
}

.disabled {
    background-color: $celadon !important;
}

.iconSpan{
    padding-right: 20px;
}

/*Phones*/
@media only screen and (max-width: 800px) {

    .calcEntry {
        font-size: 20px;
    }

    .formEntries {
        font-size: 20px;
    }

    .calcTypeChosenButton {
        font-size: 20px;
    }

    .notChosenButton {
        font-size: 20px;
    }

}
