<div class="modal fade show deleteFoodEntryModal" *ngIf="show">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header deleteFoodEntryModalHeader">
                <h5 class="modal-title">Informations</h5>
                <button type="button" class="close" aria-label="Close" (click)="onHide.emit()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body deleteFoodEntryModalBody">
                <div class="deleteFoodEntryTable">
                    <table class="journalLogTable table table-striped-columns" striped>
                        <thead>
                        <tr class="journalTableHeader">
                            <th class="journalTableHeaderElem">Jour Heure</th>
                            <th class="journalTableHeaderElem">Nom Aliment</th>
                            <th class="journalTableHeaderElem">Qté.</th>
                            <th class="journalTableHeaderElem">Type Qté.</th>
                            <th class="journalTableHeaderElem">Cals.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="entryRow">
                            <td class="journalTableElem">{{ getEntryDay(foodEntry["date"]) }} {{ getEntryTime(foodEntry["date"]) }}</td>
                            <td class="journalTableElem">{{ foodEntry.name }}</td>
                            <td class="journalTableElem">{{ foodEntry["quantity"] }}</td>
                            <td class="journalTableElem">{{ foodEntry["quantity_type"] }}</td>
                            <td class="journalTableElem">{{ foodEntry["calories"] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="thoughtsDisplay" *ngIf="foodEntry.thoughts != '' ">
                    {{ foodEntry.thoughts }}
                </div>
            </div>
            <div class="modal-footer deleteFoodEntryModalFooter">
                <button type="button" class="btn btn-danger cancelDeleteFoodEntryModal deleteFoodEntryModalButtons"
                        (click)="deleteFoodEntry(foodEntry)">
                    <fa-icon [icon]="faTrashCan"></fa-icon>
                </button>
                <button type="button" class="btn btn-primary validateDeleteFoodEntryModal deleteFoodEntryModalButtons"
                        (click)="onHide.emit()">
                    <fa-icon [icon]="faCheck"></fa-icon>
                </button>
            </div>
            <app-toast-message [show]="isFoodEntryDeleteFailToastShow" textMuted="" [toastMessage]="failMessage"
                               [success]="isFoodEntryDeleteSuccessToastShow"></app-toast-message>
            <app-toast-message [show]="isFoodEntryDeleteSuccessToastShow" textMuted=""
                               toastMessage="Food entry successfully deleted"
                               [success]="isFoodEntryDeleteSuccessToastShow"></app-toast-message>

        </div>
    </div>
</div>
