/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "variables.scss";

html{
    background-color: $bgDarkColor;
}

input:focus::placeholder {
  color: transparent;
}

.leftAlignText{
    text-align: left;
}

.asteriskRequired{
    color:red;
}
