$bgDarkColor: #282c34;
$bgDarkLightColor: #2f343d;
$bgDarkLighterColor: #404752;
$bgLighterColor: #5c5d60;
$bgDarkerColor: #17191e;
$lightBlue: #a0ced9;
$darkerBlue: #699eaa;
$peach: #ffc09f;
$darkerPeach: #e89d79;
$flax: #ffee93;
$darkerFlax: #ffe24b;
$lemonChiffon: #fcf5c7;
$ultraViolet: #54428e;
$amethyste: #8963ba;
$celadon: #afe3c0;
$pistachio: #90c290;
$resedaGreen: #688b58;
$hookersGreen: #668586;
$hookersGreenDarker: #556f70;
$verdigris: #82aeb1;
$skyBlue: #93c6d6;
$periwinkle: #a7acd9;
$periwinkleLighter: #d3d7fd;
$roseQuartz: #9e8fb2;
$roseQuartzDarker: #755b98;
$rosee: #f8bcbc;
$roseeDarker: #d09090;
$roseeDarkerDarker: #ac7171;
$redFail: #ff4b4b;
$orange: #ff904b;
