<app-app-menu-bar [selectedPage]="page"></app-app-menu-bar>
<div class="addFoodLogPageContainer">
    <div class="calculatorContainer">
        <div class="addMethodChoiceContainer">
            <button class="calculationAddButton btn btn-primary" [ngClass]="{'chosenAddType': !quickAdd}" (click)="disableQuickAdd()">
                {{  'addfoodLog.CALCULATOR' | translate }}
            </button>
            <button class="quickAddButton btn btn-primary" [ngClass]="{'chosenAddType': quickAdd}" (click)="enableQuickAdd()">
                {{ 'addfoodLog.QUICK_ADD' | translate }}
            </button>
        </div>
        <div *ngIf="quickAdd">
            <app-quick-add-food-log (saveFoodEntry)="saveFoodEntry($event)"></app-quick-add-food-log>
        </div>

        <div *ngIf="!quickAdd">
            <app-calculator-add-food-log (saveFoodEntry)="saveFoodEntry($event)"></app-calculator-add-food-log>
        </div>
            <app-toast-message [show]="isFoodEntrySentFailToastShow" textMuted="" [toastMessage]="failMessage" [success]="isFoodEntrySentSuccessToastShow"></app-toast-message>
            <app-toast-message [show]="isFoodEntrySentSuccessToastShow" textMuted="" toastMessage="Food successfully saved" [success]="isFoodEntrySentSuccessToastShow"></app-toast-message>
    </div>
</div>
